@import"../assets/stylesheets/bootstrap/_variables.scss";

//My variables
$body-background: #ddc9df;
$linkcolor: #7a3aaf;
$header-bg: #ff9763;
$navbar-bg: #7a3aaf;
$navbar-text: white;
$navbar-active-bg: $header-bg;
$navbar-active-text: $navbar-bg;
$sidebar-bg: #be89e1;
$sidebar-link: darken($sidebar-bg, 50%);

// Bootstrap variable overrides
$body-bg: $body-background;
$link-color: $linkcolor;

$navbar-default-bg: $navbar-bg;
$navbar-default-link-color: $navbar-text;
$navbar-default-link-hover-color: $navbar-text;
$navbar-default-link-hover-bg: lighten($navbar-default-bg, 10%);
$navbar-default-link-active-color: $navbar-active-text;
$navbar-default-link-active-bg: $navbar-active-bg;

$navbar-default-toggle-hover-bg: lighten($navbar-bg, 10%);
$navbar-default-toggle-icon-bar-bg: darken($navbar-bg, 50%);
$navbar-default-toggle-border-color: black;

$well-bg: $sidebar-bg;
$nav-link-hover-bg: lighten($sidebar-bg, 10%);
$nav-pills-active-link-hover-color: $sidebar-link;

//Basic
body {
	background-color: $body-bg !important;
}
.container {
	max-width: 1000px;
	padding: 0;
}

//Header
.my-nav-box {
	background-color: $header-bg;
	background-image: url("../img/header_bg.png");
	background-repeat: no-repeat;
}

#my-container {
	padding: 0;
}

#my-img {
	position: relative;
	padding: 7px 7px 5px 15px;
	z-index: 2;
	max-width: 100%;
	height: auto;
}
#my-logo {
	position: relative;
	z-index: 2;
	max-width: 100%;
	height: auto;
}

.navbar {
	margin: 0px !important;
}
.navbar-default {
	border-radius: 0px !important;
}
.nav .navbar-nav{
	li {
		display: inline !important;
	}
}
.navbar, .navbar-default  {
	border: 0 !important;
}

.topmenu-selected {
	background-color: $header-bg;
	color:$navbar-active-text;
	a {
		color: $navbar-active-text !important;
	}
	a:hover {
		color: $navbar-text !important;
	}
}

//content
.content {
	padding: 20px;
	background-color: white;
	margin:0;
}
.footer {
	background-color: white;
}

//Sidebar
.widget{
	caption{
		color: black;
	}
}

//Footer
